project_id = "nbkybwnjjzmwyiiciffm"

[auth]
enabled = true
site_url = "https://nbkybwnjjzmwyiiciffm.lovableproject.com"

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true
